<h3 class="text-center">FILTROS</h3>
<hr>
<div class="accordion mt-4" id="accordionFlush">
  <!-- Estado -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        ESTADO
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
      data-bs-parent="#accordionFlush">
      <div class="accordion-body">
        <!-- Función de filtro para el estado -->
        <p *ngFor="let state of states">
          <input type="radio" class="btn-check" (change)="statusFilter(state)" [id]="'status-' + state"
            name="options-status" autocomplete="off">
          <label class="btn btn-outline-success" [for]="'status-' + state">{{ state }}</label>
        </p>
      </div>
    </div>
  </div>

  <!-- Género -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        GÉNERO
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
      data-bs-parent="#accordionFlush">
      <div class="accordion-body">
        <!-- Función de filtro para el género -->
        <p *ngFor="let gender of genders">
          <input type="radio" class="btn-check" (change)="genderFilter(gender)" [id]="'gender-' + gender"
            name="options-gender" autocomplete="off">
          <label class="btn btn-outline-success" [for]="'gender-' + gender">{{ gender }}</label>
        </p>
      </div>
    </div>
  </div>

  <!-- Especie -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        ESPECIE
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
      data-bs-parent="#accordionFlush">
      <div class="accordion-body">
        <p *ngFor="let species of species">
          <input type="radio" class="btn-check" (change)="speciesFilter(species)" [id]="'species-' + species"
            name="options" autocomplete="off">
          <label class="btn btn-outline-success" [for]="'species-' + species">{{ species }}</label>
        </p>
      </div>
    </div>
  </div>
</div>
<button class="btn btn-secondary mt-3" (click)="deselectAllFilters()">Borrar filtros</button>
